chardet==2.3.0
command-not-found==0.3
language-selector==0.1
numpy==1.16.0
pandas==0.24.2
py4j==0.10.7
pycurl==7.43.0
pygobject==3.20.0
pyspark==2.4.4
python-apt==1.1.0b1+ubuntu0.16.4.5
python-dateutil==2.8.0
python-debian==0.1.27
python-systemd==231
pytz==2019.3
requests==2.9.1
six==1.10.0
ssh-import-id==5.5
tqdm==4.38.0
ufw==0.35
unattended-upgrades==0.1
urllib3==1.13.1
